@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=greek-ext");
*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #333;
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

a:hover {
    color: #26a2f0;
}

a:active, a:hover {
    outline: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 3.6rem;
    line-height: 4rem;
    margin: 1.6rem 0;
    font-weight: 700;
    color: #555;
}

h2 {
    line-height: 3.6rem;
    font-size: 2.8rem;
    color: #555;
}

h3 {
    font-size: 2.4rem;
}

.wrapper-site {
    max-width: 120rem;
    width: auto;
    margin: auto;
    padding: 1.6rem;
    height: 100%;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* .section {
    background-color: #f2f4f4;
} */

.colored-section {
    background-color: #e9eff9;
}

.owl-carousel .owl-item img {
    display: block;
    width: unset;
    min-height: 20rem;
    margin: 0 auto 1rem;
}

.btn {
    background-color: rgb(38, 162, 240);
    border: 0.2rem solid #26a2f0;
    color: #fff;
    padding: 1.6rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.08rem;
    box-shadow: 0 5px 15px rgba(38, 162, 240, 0.2);
    transition: all 0.5s ease;
}

.btn:hover {
    color: #fff;
    transform: translate(0, -0.5rem);
    box-shadow: 0 10px 15px rgba(38, 162, 240, 0.4);
}

@media screen and (max-width: 620px) {
    .flex-end {
        -ms-grid-column-align: center;
        justify-self: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 1920px) {
    _:-ms-fullscreen, :root .colored-section {
        background-color: red;
    }
}

/* navbar */

.nav {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7.5rem 1fr;
    grid-template-columns: 7.5rem 1fr;
    -ms-grid-rows: 7.5rem;
    grid-template-rows: 7.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    /* background-color: #fff; */
}

.nav-logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.nav-logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nav-menu {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.nav-menu ul li a {
    min-height: 7.5rem;
    margin-left: 2rem;
    text-decoration: none;
    color: #333
}

.nav-menu ul li {
    list-style: none
}

.nav-menu ul li a:hover {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border-top: #26a2f0 .3rem solid;
    color: #26a2f0
}

.nav-menu ul li a.active-page {
    color: #26a2f0;
    border-top: #26a2f0 .3rem solid
}

.nav-menu ul li #signIn {
    margin-left: 1.6rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    min-height: 4rem;
}

.nav-menu ul li #signIn i {
    color: #fff;
    margin-left: 1rem;
    font-size: 1.8rem;
}

@media screen and (max-width: 800px) {
    .nav-menu ul li #signIn {
        display: none;
    }
}

@media screen and (max-width:620px) {
    .nav {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: .8rem 0;
        font-size: 1.4rem
    }
    .nav>:nth-child(1) {
        grid-row: 1;
        -ms-grid-row: 1;
        grid-column: 1;
        -ms-grid-column: 1
    }
    .nav>:nth-child(2) {
        grid-row: 2;
        -ms-grid-row: 2;
        grid-column: 1;
        -ms-grid-column: 1
    }
    .nav-logo {
        -ms-grid-column-align: center;
        justify-self: center
    }
    .nav-menu {
        border-top: .1rem solid rgba(0, 0, 0, .2);
        width: 100%
    }
    .nav-menu ul li a {
        margin: 0 1rem
    }
    .nav-logo img {
        width: 60px;
        height: 60px
    }
}

/* navbar end */

section {
    height: 100vh;
    padding-top: 12rem;
}

.slide1 {
    height: calc(100vh - 122px);
}

.wrapper-site {
    height: auto;
}

.max-window {
    max-width: 1024px;
    margin: 0 auto;
}

section h1 {
    margin-bottom: 6rem;
    padding: 1.6rem;
    text-align: center;
    color: #26a2f0;
}

.box-listing {
    flex-wrap: wrap;
    justify-content: center;
}

.box-listing li {
    width: 50%;
    height: 54px;
    margin: 4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 28rem;
    animation-name: animateThis;
    animation-duration: 1s;
}

@keyframes animateThis {
    0% {
        margin-left: -50px;
        opacity: 0;
    }
    30% {
        margin-left: -50px;
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

.list-number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    background-color: #26a2f0;
    color: #fff;
    border-radius: 50%;
    margin: 0 2rem;
}

body {
    background-image: url(/shutterstock_530294110\ .jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide2 ul {
    margin: 1.5rem 0;
}

.slide2 ul li ul li {
    list-style: disc;
    margin: .8rem 0 .8rem 1.6rem;
}

.slide2 h2 {
    margin-bottom: 2rem;
    color: #26a2f0;
}

.slide2-right img {
    max-width: 100%;
}

.slide4 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-holder {
    width: 25%;
    min-width: 18rem;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);
}

@media screen and (max-width: 890px) {
    .slide2Box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slide2-right {
        text-align: center;
    }
    .slide2-right img {
        margin-top: 4rem;
        width: 40rem;
    }
    section {
        padding-top: 2rem;
    }
    section h1 {
        margin-bottom: 2rem;
    }
}

.field-box {
    display: block;
    width: 100%;
    margin: 1.6rem 0;
}

.field-box input, .field-box select {
    font-size: 1.6rem;
    background-color: transparent;
    padding: 1rem;
    border: 2px solid #eee;
    width: 100%;
    border-radius: .5rem;
    -webkit-appearance: none;
}

.field-box label {
    display: block;
}

.loader {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}